@()

@main("Schedule") {
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="principal" class="control-label">Principal</label>
                    <div class="input-group">
                        <input id="principal" class="form-control" type="text" ng-model="params.principal"/>
                        <div class="input-group-addon">$</div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="interest-rate" class="control-label">Interest rate</label>
                    <div class="input-group">
                        <input id="interest-rate" class="form-control" type="text" ng-model="params.interestRate"/>
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="start" class="control-label">Start date</label>
                    <input id="start" class="form-control" type="date" ng-model="params.start"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="n-of-payments" class="control-label">Number of payments</label>
                    <input id="n-of-payments" class="form-control" type="text" ng-model="params.nofPayments"/>
                </div>
            </div>
            <button id="submit" type="submit" value="Find" class="btn btn-primary" ng-click="findPayments()">Find</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Date</th>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Principal</th>
                        <th class="text-center">Interest</th>
                        <th class="text-center">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in payments">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ p.date }}</td>
                        <td class="text-right">{{ p.amount | currency: '' }}</td>
                        <td class="text-right">{{ p.principal | currency: '' }}</td>
                        <td class="text-right">{{ p.interest | currency: '' }}</td>
                        <td class="text-right">{{ p.balance | currency: '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
